.breadcrumbs {
  padding: 40px 0 30px 0;
  text-align: center;

  a {
    font-weight: 400;
    position: relative;
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
    color: $accent-color;
    transition: color 220ms;

    &:before {
      content: '/';
      display: inline-block;
      line-height: 24px;
      font-family: FontAwesome, sans-serif;
      font-size: 16px;
      margin: 0 5px;
    }

    &:first-child {
      &:before {
        content: none;
      }
    }

    &:last-child {
      color: $base-color;
      pointer-events: none;

      &:after {
        content: none;
      }

    }

    &:hover,&:focus {
      color: $lighten-color;
    }

    &:active {
      color: $darken-color;
    }

  }

}
