body {
  font-size: 16px;
  font-family: $base-font;
  font-weight: 400;
  color: $base-color;
  line-height: 1.4;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  &.is-hidden {
    overflow: hidden;
  }
}



/* cursor pointer for all clickable elements */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .has-pointer {
  cursor: pointer;
}

section {
  position: relative;
}

input, button, select, textarea {
  outline: none;
}

textarea {
  resize: none;
}

/* responsive wrapper for (embed frame and object) */
.responsive-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: $base-color;
  &:hover, &:focus, &:active {
    outline: none;
    color: $base-color;
    text-overflow: ellipsis;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

