@font-face {
    font-family: 'GilroyRegular';                           /* same name */
    src: url('../fonts/gilroy/light/GilroyLight.woff2');         /* different files */
    font-weight: 300;                                       /* different density */
    font-style: normal;
}

@font-face {
    font-family: 'GilroyRegular';                           /* same name */
    src: url('../fonts/gilroy/regular/GilroyRegular.woff2'); /* different files */
    font-weight: 400;                                       /* different density */
    font-style: normal;
}

@font-face {
    font-family: 'GilroyRegular';                           /* same name */
    src: url('../fonts/gilroy/regularItalic/GilroyRegularItalic.woff2'); /* different files */
    font-weight: 400;                                       /* different density */
    font-style: italic;
}

@font-face {
    font-family: 'GilroyRegular';                           /* same name */
    src: url('../fonts/gilroy/medium/GilroyMedium.woff2');         /* different files */
    font-weight: 500;                                       /* different density */
    font-style: normal;
}

@font-face {
    font-family: 'GilroyRegular';                           /* same name */
    src: url('../fonts/gilroy/bold/GilroyBold.woff2');         /* different files */
    font-weight: 700;                                       /* different density */
    font-style: normal;
}

@font-face {
    font-family: 'GilroyRegular';                           /* same name */
    src: url('../fonts/gilroy/black/GilroyBlack.woff2');         /* different files */
    font-weight: 900;                                       /* different density */
    font-style: normal;
}
