/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1560px) {
    .container-fluid {
        width: 1170px;
    }
    .c-menu__link {
        font-size: 16px;
    }
    .c-menu__item {
        margin: 0 15px;
    }
    .common-btn {
        height: 40px;
        width: 220px;
        font-size: 16px;
        line-height: 40px;
    }
    .header {
        padding: 10px 0;
    }
    .service-item__wrap {
        padding: 0 5px;
    }
    .b-service__grid {
        margin: 0 5px;
    }
    .first-screen__title {
        font-size: 48px;
    }
    .advantages-item {
        margin-bottom: 40px;
    }
    .advantages-item__desc {
        line-height: 24px;
    }
    .common-title {
        margin: 0 0 40px 0;
        font-size: 40px;
    }
    .portfolio__grid {
        grid-gap: 20px;
    }
    .contacts-list__link, .contacts-list__item {
        font-size: 16px;
    }
    .footer__subscribe {
        max-width: 300px;
    }
    .footer__menu {
        min-width: inherit;
    }
    .subscribe__btn {
        width: 100%;
    }
    .sec-menu__link {
        font-size: 16px;
    }
    .sec-menu__item {
        margin-bottom: 10px;
    }
    .footer__contacts {
        max-width: 260px;
    }
    .slider-clients .slick-arrow-prev {
        left: 0;
    }
    .slider-clients .slick-arrow-next {
        right: 0;
    }
    .m-callback__btn {
        width: 100%;
    }
    .popup-window__title {
        font-size: 28px;
    }
    .contacts__map {
        width: 750px;
    }
    .cb-form__submit {
        height: 50px;
        line-height: 50px;
        width: 100%;
    }
    .c-cb__title {
        margin-bottom: 0;
    }
    .news-item__img {
        width: 350px;
    }
    .news-item__title {
        font-size: 16px;
        line-height: 24px;
    }
    .news-item__desc {
        font-size: 16px;
        line-height: 22px;
    }
    .news-item__btn {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
    .services-grid__item {
        width: 33.333%;
    }
    .c-service__content img {
        max-width: 560px;
    }
    .banner .common-subtitle {
        font-size: 22px;
    }
    .about__img {
        max-width: 560px;
    }
    .about__text {
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    p {
        font-size: 16px;
        line-height: 24px;
    }
    .container-fluid {
        width: 970px;
    }
    .c-menu__item {
        margin: 0 10px;
    }
    .c-menu__link {
        font-size: 14px;
    }
    .common-btn {
        height: 35px;
        width: 200px;
        font-size: 14px;
        line-height: 35px;
    }
    .first-screen__content {
        width: 100%;
        text-align: center;
    }
    .first-screen__title {
        font-size: 40px;
    }
    .first-screen__advantages {
        max-width: 600px;
        margin: 50px auto 0;
    }
    .common-title {
        margin: 0 0 30px 0;
        font-size: 36px;
    }
    .advantages-item__wrap {
        max-width: 280px;
    }
    .advantages-item__img {
        min-height: 100px;
    }
    .advantages-item__title {
        font-size: 16px;
        line-height: 22px;
    }
    .advantages-item__desc {
        line-height: 22px;
        font-size: 14px;
    }
    .advantages {
        padding: 50px 0 0 0;
    }
    .footer__copyright {
        text-align: center;
    }
    .footer__logo {
        width: 50%;
        order: 1;
        &-wrap {
            max-width: 260px;
            margin: 0 auto 20px;
        }
    }
    .footer__contacts {
        width: 50%;
        max-width: none;
        order: 2;
        .contacts-list {
            margin: 0 auto 20px;
            max-width: 260px;
        }
    }
    .footer__subscribe {
        width: 50%;
        max-width: none;
        order: 4;
        .subscribe {
            margin: 0 auto;
            max-width: 260px;
        }
    }
    .footer__menu {
        width: 50%;
        order: 3;
        .sec-menu {
            margin: 0 auto;
            width: 260px;
            &__item {
                text-align: center;
            }
        }
    }
    .footer__copyright {
        order: 5;
    }
    .footer__content {
        align-items: center;
    }
    .subscribe__btn {
        width: 100%;
    }
    .portfolio--page {
        padding-bottom: 60px;
    }
    .m-callback__btn {
        width: 100%;
    }
    .m-callback__field {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .popup-window {
        width: 300px;
        padding: 30px;
    }
    .popup-block {
        width: 300px;
        padding: 30px;
    }
    .popup-window__title {
        font-size: 26px;
    }
    .contacts__map {
        width: 650px;
        height: 400px;
    }
    .contacts__title {
        font-size: 16px;
    }
    .contacts-list__item, .contacts-list__link {
        font-size: 16px;
    }
    .contacts__title--address {
        margin-top: 15px;
        + ul {
            margin-bottom: 15px;
        }
    }
    .cb-form__field {
        max-width: 300px;
    }
    .cb-form__input {
        height: 35px;
        font-size: 14px;
        line-height: 34px;
    }
    .c-cb__title {
        margin-bottom: 0;
    }
    .c-cb {
        padding: 40px 0;
    }
    .scheme-item__img {
        width: 100px;
        height: 100px;
    }
    .scheme-item__text {
        font-size: 16px;
        line-height: 24px;
    }
    .scheme-item__btn {
        width: 180px;
        font-size: 14px;
    }
    .news-item__desc {
        font-size: 14px;
    }
    .news-item__title {
        font-size: 14px;
        line-height: 22px;
    }
    .news-item__content {
        padding-left: 20px;
    }
    .services-grid__title {
        font-size: 16px;
        line-height: 20px;
    }
    .services-grid__desc {
        font-size: 16px;
        line-height: 20px;
    }
    .services-grid {
        padding-bottom: 20px;
    }
    .c-service__content img {
        max-width: 460px;
    }
    .banner .common-subtitle {
        font-size: 20px;
    }
    .banner {
        padding: 150px 0;
    }
    .about__img {
        max-width: 400px;
    }
    .our-advantages-item__wrap {
        width: 220px;
        height: 220px;
    }
    .our-advantages-item__img {
        transform: scale(.8);
        margin-bottom: 0;
    }
    .our-advantages-item__title span {
        font-size: 16px;
        line-height: 20px;
    }
    .sertificate-item {
        width: 50%;
        margin-bottom: 20px;
        &__wrap {
            margin: 0 auto;
            text-align: center;
        }
    }
    .sertificate {
        padding: 40px 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .container-fluid {
        width: 750px;
    }
    .header__logo {
        max-width: 120px;
    }
    .common-btn {
        width: 180px;
        height: 30px;
        line-height: 30px;
    }
    .first-screen__advantages {
        margin-top: 20px;
        max-width: 550px;
    }
    .first-screen__title {
        font-size: 36px;
    }
    .first-screen-item__content span {
        font-size: 16px;
        line-height: 20px;
    }
    .btn-scroll {
        bottom: 8vh;
        &__inner {
            top: 0;
            transform: translate(-50%,0) scale(.7);
        }
    }
    .first-screen-item {
        transform: scale(.8);
    }
    .common-title {
        margin: 0 0 25px 0;
        font-size: 32px;
    }
    .advantages-item {
        width: 50%;
        margin-bottom: 35px;
        &__img {
            min-height: inherit;
            height: 80px;
            transform: scale(.8);
            margin-bottom: 10px;
        }
    }
    .portfolio__grid {
        grid-gap: 14px;
    }
    .subscribe__btn {
        width: 100%;
    }
    .footer__socials {
        padding-right: 0;
        span {
            text-align: center;
        }
        .socials {
            justify-content: center;
        }
    }
    .portfolio--page {
        padding-bottom: 50px;
    }
    .modal-slider__in {
        max-width: calc(100% - 20px);
    }
    .modal-slider__wrap {
        max-width: none;
        width: 100%;
    }
    .modal-slider__container {
        margin: 0 40px;
    }
    .modal-slider__title {
        font-size: 20px;
    }
    .modal-slider__close {
        top: -20px;
        right: 0;
    }
    .m-callback__title {
        font-size: 20px;
    }
    .popup-window__title {
        font-size: 24px;
    }
    .popup-window__desc {
        font-size: 16px;
        strong {
            font-size: 20px;
        }
    }
    .accordion__title {
        font-size: 16px;
        line-height: 24px;
    }
    .accordion__content p, .accordion__answer {
        font-size: 16px;
        line-height: 24px;
    }
    .accordion {
        padding-bottom: 40px;
    }
    .contacts__inner {
        flex-wrap: wrap;
    }
    .contacts__desc {
        margin-bottom: 20px;
    }
    .contacts__map {
        width: 100%;
        height: 300px;
    }
    .contacts-list__item,.contacts-list__link {
        font-size: 14px;
        line-height: 24px;
    }
    .cb-form__content {
        display: block;
    }
    .cb-form__field {
        margin: 0 auto 20px;
    }
    .cb-form__submit {
        margin: 30px auto 0;
    }
    .c-cb__subtitle {
        font-size: 16px;
        line-height: 24px;
    }
    .c-cb__title {
        margin-bottom: 0;
    }
    .c-cb {
        padding: 35px 0 0;
    }
    .scheme-item__img {
        width: 90px;
        height: 90px;
    }
    .scheme-item__count {
        width: 30px;
        height: 30px;
        font-size: 14px;
        left: -20px;
    }
    .scheme {
        padding: 30px 0 40px 0;
    }
    .scheme-item__text {
        font-size: 14px;
        line-height: 20px;
    }
    .scheme-item__btn {
        width: 160px;
        font-size: 14px;
    }
    .news-item__wrap {
        flex-wrap: wrap;
    }
    .news-item__img {
        margin: 0 auto 20px;
    }
    .news-item__content {
        padding-left: 0;
    }
    .news-item__btn {
        margin: 15px auto 0;
    }
    .news-item__title {
        text-align: center;
    }
    .services-grid__item {
        width: 50%;
    }
    .services-grid__title {
        margin: 10px 0 5px 0;
    }
    .services-item__title {
        font-size: 14px;
        padding: 0 10px;
    }
    .tabs__title--active {
        padding: 0 12px!important;
    }
    .services-grid {
        padding-bottom: 10px;
    }
    .c-service__content img {
        max-width: 350px;
    }
    .banner .common-subtitle {
        font-size: 18px;
        line-height: 24px;
    }
    .banner {
        padding: 120px 0;
    }
    .pagination-wrap {
        margin: 20px auto 0;
    }
    .pagination__page-numbers {
        font-size: 16px;
    }
    .about__content {
        flex-wrap: wrap;
    }
    .about__img {
        margin: 0 auto 20px;
        max-width: 500px;
        width: 100%;
    }
    .about__text {
        padding: 0;
        h4 {
            text-align: center;
        }
    }
    .our-advantages {
        padding: 40px 0;
    }
    .sertificate {
        padding: 30px 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    p {
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
    }
    .container-fluid {
        width: 100%;
    }
    .header__list {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        padding: 15px 0;
        z-index: 999;
    }
    .header__menu {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        flex-wrap: wrap;
    }
    .c-menu__item {
        width: 100%;
        margin: 0;
    }
    .c-menu__link {
        display: block;
        padding: 15px 0;
    }
    .hamburger {
        display: block;
        padding: 6px 0 0 0;
        z-index: 1000;
    }
    .common-title {
        font-size: 30px;
    }
    .advantages-item__wrap {
        padding: 0 10px;
    }
    .advantages-item__title {
        font-size: 15px;
        line-height: 20px;
    }
    .advantages {
        padding: 40px 0 0 0;
    }
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__logo {
        width: 100%;
    }
    .footer__contacts {
        width: 100%;
    }
    .footer__subscribe {
        width: 100%;
        order: 3;
        margin-bottom: 20px;
    }
    .footer__menu {
        width: 100%;
        order: 4;
    }
    .sec-menu__link {
        font-size: 14px;
    }
    .subscribe__title {
        font-size: 16px;
    }
    .footer__logo {
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .portfolio--page {
        padding-bottom: 40px;
    }
    .breadcrumbs {
        padding: 20px 0;
        a {
            font-size: 14px;
        }
    }
    .modal-slider__title {
        font-size: 18px;
    }
    .m-callback__title {
        font-size: 18px;
    }
    .popup-window__title {
        font-size: 20px;
    }
    .popup-window__desc {
        font-size: 14px;
        strong {
            font-size: 18px;
        }
    }
    .accordion__title {
        font-size: 14px;
        line-height: 22px;
    }
    .accordion__question {
        height: 40px;
        padding: 0 15px;
    }
    .accordion__content {
        padding: 20px 15px 10px 15px;
    }
    .accordion__content p, .accordion__answer {
        font-size: 14px;
        line-height: 22px;
    }
    .accordion {
        padding-bottom: 30px;
    }
    .contacts__map {
        height: 250px;
    }
    .contacts {
        padding-bottom: 40px;
    }
    .c-cb {
        padding: 25px 0 0;
    }
    .scheme {
        padding: 25px 0 0 0;
    }
    .scheme__content {
        flex-wrap: wrap;
    }
    .scheme-item {
        width: 50%;
        margin-bottom: 30px;
    }
    .news {
        padding: 0;
    }
    .news-item__data {
        top: 20px;
        font-size: 14px;
        line-height: 24px;
        height: 25px;
        width: 100px;
    }
    .services-item__head {
        flex-wrap: wrap;
    }
    .services-item__title {
        width: 48%;
        margin: 0 5px 10px 5px;
    }
    .services-grid__desc {
        font-size: 14px;
    }
    .services-grid__title {
        font-size: 14px;
    }
    .c-service__content img {
        float: none;
        max-width: 500px;
        width: 100%;
        margin: 0 auto 20px;
        display: block;
        &:last-child {
            margin: 0 auto 20px;
            display: block;
        }
    }
    .c-service {
        padding: 40px 0 30px 0;
    }
    .c-service__content h4 {
        text-align: center;
        font-size: 16px;
    }
    .banner .common-subtitle {
        font-size: 16px;
        line-height: 22px;
    }
    .banner {
        padding: 80px 0;
    }
    .banner__data {
        width: 100px;
        font-size: 14px;
        height: 25px;
        line-height: 26px;
    }
    .pagination-wrap {
        margin: 0 auto;
    }
    .pagination__page-numbers {
        font-size: 14px;
        line-height: 24px;
    }
    .pagination__page-numbers--to-start:before {
        line-height: 25px;
    }
    .pagination__page-numbers--to-start:after {
        height: 25px;
    }
    .pagination__page-numbers--to-end:after {
        line-height: 25px;
    }
    .about__text {
        h4 {
            font-size: 16px;
        }
    }
    .our-advantages-item {
        width: 33.333%;
    }
    .our-advantages-item__wrap {
        width: 100%;
        height: auto;
        border: none;
    }
    .our-advantages-item__title span {
        font-size: 14px;
        line-height: 18px;
    }
    .sertificate {
        padding: 20px 0;
    }
    .footer__copyright p, .footer__copyright a {
        text-align: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
    .first-screen__advantages {
        margin-top: 0;
    }
    .first-screen__title {
        font-size: 30px;
    }
    .first-screen-item__img {
        transform: scale(.7);
        margin: 0;
    }
    .first-screen-item__content span {
        font-size: 14px;
        line-height: 18px;
    }
    .b-service__grid {
        flex-wrap: wrap;
    }
    .b-service__btn {
        margin-top: 15px;
    }
    .service-item {
        width: 100%;
        max-width: 320px;
        margin: 0 auto 15px;
    }
    .common-title {
        margin: 0 0 20px 0;
        font-size: 26px;
    }
    .advantages-item__desc {
        line-height: 20px;
    }
    .subscribe__title {
        font-size: 14px;
    }
    .subscribe__field {
        height: 30px;
        line-height: 30px;
    }
    .footer__copyright p, .footer__copyright a {
        font-size: 14px;
        line-height: 24px;
    }
    .sec-menu__item {
        margin-bottom: 5px;
    }
    .footer__copyright {
        margin-top: 20px;
    }
    .footer {
        padding: 30px 0 20px;
    }
    .portfolio--page {
        padding-bottom: 30px;
    }
    .breadcrumbs a {
        font-size: 13px;
    }
    .m-callback__title {
        font-size: 16px;
    }
    .popup-window__title {
        font-size: 18px;
    }
    .accordion__question {
        height: auto;
        padding: 2px 15px;
    }
    .accordion__title {
        font-size: 13px;
        line-height: 18px;
    }
    .accordion__set {
        margin-bottom: 15px;
    }
    .accordion {
        padding-bottom: 20px;
    }
    .c-cb__title {
        margin-bottom: 0;
    }
    .c-cb__subtitle {
        line-height: 22px;
        font-size: 14px;
    }
    .scheme-item__img {
        width: 70px;
        height: 70px;
    }
    .scheme-item__text {
        font-size: 13px;
        line-height: 18px;
    }
    .scheme-item__btn {
        width: 140px;
    }
    .news-item__img {
        margin-bottom: 10px;
    }
    .news-item__desc {
        text-align: justify;
    }
    .services-grid__item {
        width: 100%;
        max-width: 360px;
        margin: 0 auto 20px;
    }
    .services-item__title {
        width: 100%;
        max-width: 360px;
        margin: 0 auto 10px;
    }
    .services-item__head {
        margin-bottom: 20px;
    }
    .banner {
        padding: 60px 0;
    }
    .our-advantages {
        padding: 30px 0;
    }
    .our-advantages-item {
        padding: 0 10px;
    }
    .our-advantages-item__img {
        transform: scale(.7);
    }
    .our-advantages-item__title span {
        font-size: 13px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .first-screen__title {
        font-size: 26px;
    }
    .header__order {
        display: none;
    }
    .first-screen-item__content {
        display: none;
    }
    .order-callback__btn {
        background: none;
        box-shadow: none;
        color: $accent-color;
        width: auto;
        height: auto;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px;
        display: inline-block;
        line-height: inherit;
        position: relative;
        border-radius: 0;
        &:hover,&:focus {
            color: $lighten-color;
            background: none;
        }
        &:active {
            color: $darken-color;
            background: none;
        }
    }
    .common-title {
        font-size: 20px;
    }
    .advantages-item {
        width: 100%;
        margin-bottom: 25px;
    }
    .advantages-item__title {
        font-size: 14px;
        line-height: 16px;
    }
    .advantages-item__desc {
        font-size: 12px;
        line-height: 16px;
    }
    .advantages {
        padding: 30px 0 0 0;
    }
    .portfolio__grid {
        grid-gap: 9px;
    }
    .popup-window__title {
        font-size: 16px;
    }
    .accordion__content {
        padding: 10px;
    }
    .contacts__map {
        height: 200px;
    }
    .contacts {
        padding-bottom: 30px;
    }
    .c-cb__subtitle {
        line-height: 16px;
        font-size: 12px;
    }
    .news-item__img {
        width: 100%;
        max-width: 320px;
    }
    .our-advantages__content {
        flex-wrap: wrap;
    }
    .our-advantages-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 600px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

