/* button-toggle */
$hamburger-padding-x                            : 15px !default;
$hamburger-padding-y                            : 15px !default;
$hamburger-layer-width                          : 40px !default;
$hamburger-layer-height                         : 4px !default;
$hamburger-layer-spacing                        : 6px !default;
$hamburger-layer-color                          : #000 !default;
$hamburger-layer-border-radius                  : 4px !default;
$hamburger-hover-opacity                        : 0.7 !default;
$hamburger-hover-transition-duration            : 0.15s !default;
$hamburger-hover-transition-timing-function     : linear !default;
$hamburger-hover-use-filter                     : false !default;
$hamburger-hover-filter                         : opacity(50%) !default;
$hamburger-types                                : emphatic !default;

$default-size: 16px;

/* fonts */
$base-font: "GilroyRegular", sans-serif;

/* colors */
$white: #fff;
$black: #000;
$base-color: $black;
$accent-color: #61a706;
$lighten-color: lighten($accent-color, 10%);
$darken-color: darken($accent-color, 10%);
$error-color: #FF0000;
$border-color: #d9d9d9;
$placeholder-color: #808080;

$pulse_color: $accent-color;




