.popup-block {
    width: 420px;
    background-color: $white;
    border-radius: 10px;
    padding: 45px 30px 50px 30px;
    position: relative;
    margin: 20px auto;
    z-index: 1061;
}

// popup login
.m-callback {
    &__title {
        color: $base-color;
        font-weight: 700;
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
    }
    &__field {
        @extend .common-input;
        border: 2px solid $border-color;
        height: 50px;
        border-radius: 25px;
    }
    &__line {
        margin-bottom: 20px;
        position: relative;
    }
    &__btn {
        @extend .common-btn;
        width: 100%;
        margin: 30px auto 0;
    }
    label.error {
        text-align: center;
        padding: 0;
    }
}


.popup-window {
    width: 420px;
    border-radius: 10px;
    background-color: $white;
    padding: 50px 50px 50px 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    position: relative;
    &__title {
        color: $accent-color;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        text-align: center;
    }
    &__desc {
        color: $base-color;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        text-align: center;
        display: block;
       strong {
           font-size: 24px;
           display: block;
           font-weight: 500;
       }
    }
}
