mixin callback-modal
    .popup-block#callback-modal.mfp-hide
        form.m-callback
            h3.m-callback__title Заполните форму
            .m-callback__line
                input.m-callback__field(placeholder='Ваше имя' name='name')
            .m-callback__line
                input.m-callback__field(name='b-phone')
            button.m-callback__btn(type='submit') Отправить заявку
    .popup-window#cb-window-answer.mfp-hide
        h2.popup-window__title Заявка оформлена
        p.popup-window__desc
            strong Спасибо за обращение!
            |Мы с Вами свяжемся
            br
            |для уточнения детаей.

