footer.footer
   .container-fluid
      .footer__content
         .footer__logo
            .footer__logo-wrap
               a(href='/').logo
                  img(src='static/img/general/logo.png')
               .footer__socials
                  span Следите за новостями
                  .socials
                     a.socials__link.socials__link--vk(href='#')
                        i.fa.fa-vk
                     a.socials__link.socials__link--fb(href='#')
                        i.fa.fa-facebook-f
                     a.socials__link.socials__link--tw(href='#')
                        i.fa.fa-twitter
                     a.socials__link.socials__link--ggl(href='#')
                        i.fa.fa-google-plus
                     a.socials__link.socials__link--in(href='#')
                        i.fa.fa-linkedin
                     a.socials__link.socials__link--ytb(href='#')
                        i.fa.fa-youtube-play
         .footer__contacts
            ul.contacts-list
               li.contacts-list__item.contacts-list__item--phone
                  span.contacts-list__title Тел.:
                  a(href='tel:+380612131110').contacts-list__link +38 (0612) 13-11-10
               li.contacts-list__item.contacts-list__item--phone
                  span.contacts-list__title Тел.:
                  a(href='tel:+380680107356').contacts-list__link +38 (068) 010-73-56
               li.contacts-list__item.contacts-list__item--email
                  span.contacts-list__title Email:
                  a(href='mailto:example@shtrih.com.ua').contacts-list__link example@shtrih.com.ua
               li.contacts-list__item.contacts-list__item--address
                  span.contacts-list__title Адрес:
                  span.contacts-list__link Украина, Запорожье
         .footer__subscribe
            .subscribe
               h3.subscribe__title Будь в курсе!
               form.subscribe__form#subscribe-form
                  .subscribe__line
                     input.subscribe__field(type='text' placeholder='Ваше имя' name='name')
                  .subscribe__line
                     input.subscribe__field(type='email' placeholder='Email' name='mail')
                  button.subscribe__btn(type='submit') Подписаться
         .footer__menu
            ul.sec-menu
               li.sec-menu__item
                  a(href='portfolio-page.html').sec-menu__link Портфолио
               li.sec-menu__item
                  a(href='services-page.html').sec-menu__link Услуги
               li.sec-menu__item
                  a(href='about-page.html').sec-menu__link О нас
               li.sec-menu__item
                  a(href='contacts-page.html').sec-menu__link Контакты
               li.sec-menu__item
                  a(href='faq-page.html').sec-menu__link FAQ
         .footer__copyright
            p SHTRIH © 2017. Все права защищены
               br
               |by
               a(href='#') «ШТУРМАН»
