header.header
   .container-fluid
      .header__inner
         .header__logo
            a(href='/').logo
               img(src='static/img/general/logo.png')
         .header__list.js-menu
            ul.c-menu.header__menu
               li.c-menu__item: a.c-menu__link(href='services-page.html') Услуги
               li.c-menu__item: a.c-menu__link.is-active(href='portfolio-page.html') Портфолио
               li.c-menu__item: a.c-menu__link(href='about-page.html') О Нас
               li.c-menu__item: a.c-menu__link(href='contacts-page.html') Контакты
               li.c-menu__item: a.c-menu__link(href='faq-page.html') FAQ
         .header__order
            .order-callback
               a(href='#callback-modal').order-callback__btn.js-modal-callback-btn Оформить заказ
         button(class="hamburger hamburger--emphatic" type="button")
            span(class="hamburger-box")
               span(class="hamburger-inner")
+callback-modal
