extends ../layout/main

block variables
   - var title = 'about page'

block content
   +breadcrumbs({title: 'О нас'})
   section.about
      .container-fluid
         h2.common-title О нас
         .about__content
            .about__img
               img(src='static/img/content/about-img.jpg')
            .about__text
               h4 Lorem ipsum dolor sit amet, consectetur adipisicing
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.
         .our-advantages
            h2.common-title Наши преимущества
            .our-advantages__content
               .our-advantages-item
                  .our-advantages-item__wrap
                     .our-advantages-item__content
                        .our-advantages-item__img
                           img(src='static/img/content/oa-1.png')
                        .our-advantages-item__title
                           span 150+ своих
                              br
                              | рекламных плоскостей
               .our-advantages-item
                  .our-advantages-item__wrap
                     .our-advantages-item__content
                        .our-advantages-item__img
                           img(src='static/img/content/oa-2.png')
                        .our-advantages-item__title
                           span Более 25 лет
                              br
                              | на рынке
               .our-advantages-item
                  .our-advantages-item__wrap
                     .our-advantages-item__content
                        .our-advantages-item__img
                           img(src='static/img/content/oa-3.png')
                        .our-advantages-item__title
                           span 1,5 года
                              br
                              | гарантии
   section.sertificate(style='background: #000 url(static/img/content/sert-bg.jpg) no-repeat center / cover')
      .container-fluid
         h2.common-title Сертификаты и лицензии
         .sertificate__content
            mixin sert-item(data)
               .sertificate-item
                  .sertificate-item__wrap
                     img(src='static/img/content/sert-' + data.img + '.jpg')
            +sert-item({img: 1})
            +sert-item({img: 2})
            +sert-item({img: 3})
            +sert-item({img: 4})

   section.c-cb(style='background: transparent url(static/img/content/cb-bg.jpg) center / cover')
      .container-fluid
         h2.common-title.common-title--inverse.c-cb__title Заполните форму
         span.c-cb__subtitle  Мы перезвоним вам для уточнения Вашего заказа
            br
            | и предоставим расчет совершенно бесплатно!
         .c-cb__form
            form.cb-form#cb-form(action='')
               .cb-form__content
                  .cb-form__field
                     input.cb-form__input(type='text' placeholder='Ваше имя' name='name')
                  .cb-form__field
                     input.cb-form__input(type='text' placeholder='+38 (___)-___-__-__' name='b-phone')
                  .cb-form__field.cb-form__field--sbmt
                     button.cb-form__submit(type='submit' href='#cb-window-answer') Отправить заявку
