extends ../layout/main

block variables
   - var title = 'contacts page'

block content
   +breadcrumbs({title: 'Контакты'})
   section.contacts
      .container-fluid
         h2.common-title Контакты
         .contacts__inner
            .contacts__desc
               h4.contacts__title.contacts__title--phone Телефоны:
               ul.contacts-list
                  li.contacts-list__item: a(href='tel:+380612131110').contacts-list__link +38 (061) 213-11-10
                  li.contacts-list__item: a(href='tel:+380676189424').contacts-list__link.contacts-list__link--phone +38 (067) 618-94-24
               h4.contacts__title.contacts__title--address Адрес:
               ul.contacts-list
                  li.contacts-list__item Запорожье, ул. Красная, 1А
               h4.contacts__title.contacts__title--email Главный офис:
               ul.contacts-list
                  li.contacts-list__item
                     a(href='mailto:example@shtrih.com.ua').contacts-list__link example@shtrih.com.ua
               h4.contacts__title.contacts__title--email Размещения на билбордах:
               ul.contacts-list
                  li.contacts-list__item
                     a(href='mailto:example@shtrih.com.ua').contacts-list__link example@shtrih.com.ua
               h4.contacts__title.contacts__title--email Широкоформатная печать:
               ul.contacts-list
                  li.contacts-list__item
                     a(href='mailto:example@shtrih.com.ua').contacts-list__link example@shtrih.com.ua

            .contacts__map#map-canvas
               iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21422.906718685448!2d35.115832!3d47.8422408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1506517396978" frameborder="0" style="border:0" allowfullscreen)
