extends ../layout/main

block variables
	- var title = 'main page'

block content
	section.first-screen(style='background: #000 url(static/img/content/main-bg.jpg) no-repeat center / cover')
		.container-fluid
			.first-screen__content
				h1.first-screen__title Решаем любой
					br
					span.first-screen__title--color рекламный
					|  вопрос
				.first-screen__advantages
					.first-screen-item
						.first-screen-item__wrap
							.first-screen-item__img
								img(src='static/img/content/f-1.png')
							.first-screen-item__content
								span 150+ своих
									br
									| рекламных плоскостей
					.first-screen-item
						.first-screen-item__wrap
							.first-screen-item__img
								img(src='static/img/content/f-2.png')
							.first-screen-item__content
								span Более 25 лет
									br
									| на рынке
					.first-screen-item
						.first-screen-item__wrap
							.first-screen-item__img
								img(src='static/img/content/f-3.png')
							.first-screen-item__content
								span 1,5 года
									br
									| гарантии
			a(href='#anchor').btn-scroll
				i.btn-scroll__inner

	section.b-service(data-anchor='anchor')
		.b-service__grid
			mixin s-i(data)
				.service-item
					a(href='#').service-item__wrap
						img(src='static/img/content/s-' + data.img + '.jpg')
			+s-i({img: 1})
			+s-i({img: 2})
			+s-i({img: 3})
		a(href='services-page.html').b-service__btn Остальные услуги

	section.advantages
		.container-fluid
			h2.common-title.common-title--center Наши преимущества
			.advantages__grid
				mixin adv-item(data)
					.advantages-item
						.advantages-item__wrap
							.advantages-item__img
								img(src='static/img/content/adv-' + data.img + '.png')
							.advantages-item__content
								h4.advantages-item__title= data.title
								p.advantages-item__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				+adv-item({img: 3, title: 'Собственное производсво на своем оборудовании'})
				+adv-item({img: 4, title: 'Бесплатный выезд на замеры'})
				+adv-item({img: 5, title: 'Техническая и юридическая поддержка по рекламным вопросам'})
				+adv-item({img: 6, title: 'Индивидуальный подход к каждому клиенту'})
				+adv-item({img: 7, title: 'Разработка дизайна'})
				+adv-item({img: 8, title: 'Качественное выполнение работ'})

	section.portfolio(style='background: #000 url(static/img/content/portfolio-bg.jpg) no-repeat center / cover')
		.container-fluid
			h2.common-title.common-title--inverse Портфолио
			.portfolio__grid.grid-container
				mixin i-p(data)
					.portfolio__item(class='portfolio__item--' + data.count + '')
						.item-portfolio
							.item-portfolio__wrap
								.item-portfolio__img.js-sl-popup
									img(src='static/img/content/p-' + data.img + '.jpg')
								.item-portfolio__gallery
									img(src='static/img/content/p-2.jpg')
									img(src='static/img/content/p-3.jpg')
									img(src='static/img/content/p-4.jpg')
									img(src='static/img/content/p-5.jpg')
									img(src='static/img/content/p-7.jpg')
									img(src='static/img/content/p-8.jpg')
									img(src='static/img/content/p-9.jpg')
									img(src='static/img/content/p-10.jpg')
				+i-p({img: 1, count: 'big'})
				+i-p({img: 2, count: 'small'})
				+i-p({img: 3, count: 'small'})
				+i-p({img: 4, count: 'small'})
				+i-p({img: 5, count: 'small'})
			a(href='portfolio-page.html').portfolio__btn Перейти в портфолио


	.modal-slider(hidden='')
		.modal-slider__in
			.modal-slider__wrap
				h3.modal-slider__title Портфолио
				.swiper-container.modal-slider__container
					.swiper-wrapper.modal-slider__wrapper
				.modal-slider__close
				.modal-slider__count
					span.modal-slider__current 1
					span из
					span.modal-slider__amount
			.modal-slider__pagination
				.swiper-button-prev.modal-slider__arrow.modal-slider__arrow--prev
				.swiper-button-next.modal-slider__arrow.modal-slider__arrow--next
		.modal-slider__overlay

	section.scheme(style='background: #000 url(static/img/content/a-bg.jpg) no-repeat center / cover')
		.container-fluid
			h2.common-title Схема работы
			.scheme__content
				.scheme-item
					.scheme-item__wrap
						.scheme-item__img
							img(src='static/img/content/sc-1.png')
							span.scheme-item__count 1
						.scheme-item__content
							span.scheme-item__text Ваш звонок
								br
								| или заявка на сайте
							a(href='#callback-modal').scheme-item__btn.js-modal-callback-btn Оформить заявку
				.scheme-item
					.scheme-item__wrap
						.scheme-item__img
							img(src='static/img/content/sc-2.png')
							span.scheme-item__count 2
						.scheme-item__content
							span.scheme-item__text Разработка макета
								br
								| и консультация
				.scheme-item
					.scheme-item__wrap
						.scheme-item__img
							img(src='static/img/content/sc-3.png')
							span.scheme-item__count 3
						.scheme-item__content
							span.scheme-item__text Производство
								br
								| рекламного продукта
				.scheme-item
					.scheme-item__wrap
						.scheme-item__img
							img(src='static/img/content/sc-4.png')
							span.scheme-item__count 4
						.scheme-item__content
							span.scheme-item__text Монтаж готовой
								br
								| продукции

	section.clients
		.container-fluid
			.clients__slider
				h2.common-title Наши Клиенты
				.slider-clients
					.slider-clients__content
						mixin sl-item(data)
							.slider-clients__item
								a(href='#').slider-clients__link
									img(src='static/img/content/client-' + data.img + '.png')
						+sl-item({img: 1})
						+sl-item({img: 2})
						+sl-item({img: 3})
						+sl-item({img: 4})
						+sl-item({img: 5})
						+sl-item({img: 1})
						+sl-item({img: 2})
					.slick-arrow-prev
					.slick-arrow-next

	section.c-cb(style='background: transparent url(static/img/content/cb-bg.jpg) center / cover')
		.container-fluid
			h2.common-title.common-title--inverse.c-cb__title Заполните форму
			span.c-cb__subtitle  Мы перезвоним вам для уточнения Вашего заказа
				br
				| и предоставим расчет совершенно бесплатно!
			.c-cb__form
				form.cb-form#cb-form(action='')
					.cb-form__content
						.cb-form__field
							input.cb-form__input(type='text' placeholder='Ваше имя' name='name')
						.cb-form__field
							input.cb-form__input(type='text' placeholder='+38 (___)-___-__-__' name='b-phone')
						.cb-form__field.cb-form__field--sbmt
							button.cb-form__submit(type='submit' href='#cb-window-answer') Отправить заявку
