extends ../layout/main

block variables
   - var title = 'news page'

block content
   +breadcrumbs({title: 'Новости'})
   section.news
      .container-fluid
         h2.common-title Новости
         .news__content
            mixin news-item(data)
               .news-item
                  .news-item__wrap
                     a(href='#').news-item__img
                        span.news-item__data 07.09.2017
                        img(src='static/img/content/n-' + data.img + '.jpg')
                     .news-item__content
                        a(href='#').news-item__title Очень-очень длинный заголовок новости, описывающий статью
                        p.news-item__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        a(href='#').news-item__btn Подробнее
            +news-item({img: '1'})
            +news-item({img: '2'})
            +news-item({img: '3'})
            +news-item({img: '4'})
            +news-item({img: '5'})
            +news-item({img: '1'})
