extends ../layout/main

block variables
   - var title = 'portfolio page'

block content
   +breadcrumbs({title: 'Портфолио'})
   section.portfolio.portfolio--page
      .container-fluid
         h2.common-title Портфолио
         .portfolio__grid.grid-container
            mixin i-p(data)
               .portfolio__item(class='portfolio__item--' + data.count + '')
                  .item-portfolio
                     .item-portfolio__wrap
                        .item-portfolio__img.js-sl-popup
                           img(src='static/img/content/p-' + data.img + '.jpg')
                        .item-portfolio__gallery
                           img(src='static/img/content/p-2.jpg')
                           img(src='static/img/content/p-3.jpg')
                           img(src='static/img/content/p-4.jpg')
                           img(src='static/img/content/p-5.jpg')
                           img(src='static/img/content/p-7.jpg')
                           img(src='static/img/content/p-8.jpg')
                           img(src='static/img/content/p-9.jpg')
                           img(src='static/img/content/p-10.jpg')
            +i-p({img: 1, count: 'big'})
            +i-p({img: 2, count: 'small'})
            +i-p({img: 3, count: 'small'})
            +i-p({img: 4, count: 'small'})
            +i-p({img: 5, count: 'small'})
            +i-p({img: 7, count: 'small'})
            +i-p({img: 8, count: 'small'})
            +i-p({img: 11, count: 'big'})
            +i-p({img: 9, count: 'small'})
            +i-p({img: 10, count: 'small'})


   .modal-slider(hidden='')
      .modal-slider__in
         .modal-slider__wrap
            h3.modal-slider__title Портфолио
            .swiper-container.modal-slider__container
               .swiper-wrapper.modal-slider__wrapper
            .modal-slider__close
            .modal-slider__count
               span.modal-slider__current 1
               span из
               span.modal-slider__amount
         .modal-slider__pagination
            .swiper-button-prev.modal-slider__arrow.modal-slider__arrow--prev
            .swiper-button-next.modal-slider__arrow.modal-slider__arrow--next
      .modal-slider__overlay
