extends ../layout/main

block variables
   - var title = 'services page'

block content
   +breadcrumbs({title: 'Услуги'})
   section.services
      .container-fluid
         .tabs.services-item
            .tabs__head.services-item__head
               button.tabs__title.services-item__title.tabs__title--active Наружная реклама
               button.tabs__title.services-item__title Широкоформатная печать
               button.tabs__title.services-item__title Билборды
               button.tabs__title.services-item__title Остальные услуги
            .tabs__content.services-item__content
               .tabs__panel.services-item__panel.tabs__panel--active
                  .services-grid
                     mixin sg-item(data)
                        .services-grid__item
                           a(href='service-page.html').services-grid__img
                              img(src='static/img/content/s-i-' + data.img + '.jpg')
                           .services-grid__content
                              a(href='service-page.html').services-grid__title Длинный заголовок услуги
                              .services-grid__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                     +sg-item({img: 1})
                     +sg-item({img: 2})
                     +sg-item({img: 3})
                     +sg-item({img: 4})
                     +sg-item({img: 5})
                     +sg-item({img: 2})
                     +sg-item({img: 7})
                     +sg-item({img: 1})
               .tabs__panel.services-item__panel
                  .services-grid
                     mixin sg-item(data)
                        .services-grid__item
                           a(href='service-page.html').services-grid__img
                              img(src='static/img/content/s-i-' + data.img + '.jpg')
                           .services-grid__content
                              a(href='service-page.html').services-grid__title Длинный заголовок услуги
                              .services-grid__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                     +sg-item({img: 3})
                     +sg-item({img: 4})
                     +sg-item({img: 5})
                     +sg-item({img: 1})
                     +sg-item({img: 7})
                     +sg-item({img: 2})
                     +sg-item({img: 7})
                     +sg-item({img: 1})
               .tabs__panel.services-item__panel
                  .services-grid
                     mixin sg-item(data)
                        .services-grid__item
                           a(href='service-page.html').services-grid__img
                              img(src='static/img/content/s-i-' + data.img + '.jpg')
                           .services-grid__content
                              a(href='service-page.html').services-grid__title Длинный заголовок услуги
                              .services-grid__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                     +sg-item({img: 1})
                     +sg-item({img: 2})
                     +sg-item({img: 3})
                     +sg-item({img: 4})
                     +sg-item({img: 5})
                     +sg-item({img: 2})
                     +sg-item({img: 7})
                     +sg-item({img: 1})
               .tabs__panel.services-item__panel
                  .services-grid
                     mixin sg-item(data)
                        .services-grid__item
                           a(href='service-page.html').services-grid__img
                              img(src='static/img/content/s-i-' + data.img + '.jpg')
                           .services-grid__content
                              a(href='service-page.html').services-grid__title Длинный заголовок услуги
                              .services-grid__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                     +sg-item({img: 3})
                     +sg-item({img: 4})
                     +sg-item({img: 5})
                     +sg-item({img: 1})
                     +sg-item({img: 7})
                     +sg-item({img: 2})
                     +sg-item({img: 7})
                     +sg-item({img: 1})
