// footer
// ==================================================

.footer {
  background-color: #f0f0f0;
  padding: 50px 0 30px;
  width: 100%;
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__socials {
    border-top: 2px solid $accent-color;
    margin-top: 15px;
    padding-right: 30px;
    span {
      color: $accent-color;
      font-weight: 700;
      font-size: 18px;
      display: block;
      padding: 15px 0 0 0;
    }
  }
  &__contacts {
    max-width: 300px;
  }
  &__subscribe {
    width: 100%;
    max-width: 360px;
  }
  &__menu {
    min-width: 230px;
  }
  &__copyright {
    width: 100%;
    margin-top: 30px;
    p, a {
      color: #000;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    a {
      margin-left: 5px;
      transition: color 220ms;
      &:hover,&:focus {
        color: $accent-color;
      }
      &:active {
        color: $darken-color;
      }
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    .fa {
      @include center;
      color: $accent-color;
      transition: color 220ms;
    }
    &:hover,&:focus {
      .fa {
        color: $lighten-color;
      }
    }
    &:active {
      .fa {
        color: $darken-color;
      }
    }
  }
}

.sec-menu {
  &__link {
    color: $accent-color;
    font-weight: 700;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 220ms;
    &:hover,&:focus {
      color: $lighten-color;
    }
    &:active {
      color: $darken-color;
    }
  }
  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subscribe {
  &__title {
    color: $accent-color;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__line {
    position: relative;
    margin-bottom: 20px;
  }
  &__field {
    @extend .common-input;
    text-align: center;
  }
  &__btn {
    @extend .common-btn;
    height: 40px;
    width: 100%;
    line-height: 40px;
    margin: 0 auto;
  }
}

.contacts-list {
  &__item {
    position: relative;
    padding-left: 30px;
    &:after {
      content: '';
      display: block;
      @include center(false,true);
      left: 0;
      font-family: FontAwesome, sans-serif;
      color: $accent-color;
    }
    &--phone {
      &:after {
        @include sprite($s-phone-ico);
      }
    }
    &--email {
      &:after {
        @include sprite($s-mail-ico);
      }
    }
    &--address {
      .contacts-list__link {
        &:hover,&:focus {
          color: $base-color;
        }
        &:active {
          color: $base-color;
        }
      }
      &:after {
        @include sprite($s-loc-ico);
      }
    }
  }
  &__title {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
  }
  &__link {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    transition: color 220ms;
    &:hover,&:focus {
      color: $accent-color;
    }
    &:active {
      color: $darken-color;
    }
  }
}
