include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		//- favicon block start
		//- favicon block end

		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		<!--[if lt IE 11]>
			script(src="http://phpbbex.com/oldies/oldies.js" charset="utf-8")
		<![endif]-->
		body.page
			include ../modules/callback-modal
			include ../modules/breadcrumbs
			include ../modules/header

			section.page__wrapper
				block content

			include ../modules/footer

			script(src="static/js/jquery.js")
			script(src="static/js/libs.min.js")
			script(src="static/js/main.js")
			block script
