/* buttons */
@import "buttons.scss";

/* sprite */
@import "sprite.scss";

/* GUI styles of the project */

/* common styles */
.common {
  &-title {
    color: $black;
    font-weight: 300;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    &--inverse {
      color: $white;
    }
  }
  &-subtitle {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: block;
  }
  &-btn {
    width: 260px;
    height: 50px;
    background-color: $black;
    background-image: linear-gradient(to top, $accent-color 0%, lighten($accent-color, 10%) 100%);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(97, 167, 6, 0.2);
    padding: 0;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    //transition: box-shadow 220ms;
    display: block;
    outline: none;
    overflow: hidden;
    position: relative;
    border: none;
    &:hover, &:focus {
      box-shadow: 0 0 0 rgba(0,0,0,0);
      background-image: linear-gradient(to top, lighten($accent-color, 10%) 0%, $accent-color 100%);
      color: $white;
    }
    &:active {
      background: darken($accent-color, 5%) none;
      box-shadow: 0 0 0 rgba(0,0,0,0);
      color: $white;
    }
  }
  &-input {
    width: 100%;
    outline: none;
    background-color: $white;
    padding: 0 15px;
    height: 40px;
    max-width: 360px;
    border-radius: 20px;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    @include placeholder {
      color: $placeholder-color;
      transition: font-size 220ms;
    }
    @include placeholder-focus {
      font-size: 0;
    }
  }
  &-textarea {
    width: 100%;
    outline: none;
    background-color: $white;
    padding: 0 15px;
    max-width: 360px;
    border-radius: 25px;
    border: 1px solid transparent;
    @include placeholder {
      color: $placeholder-color;
      transition: font-size 220ms;
    }
    @include placeholder-focus {
      font-size: 0;
    }
  }
  &-link {
    width: 156px;
    height: 40px;
    border: 2px solid $accent-color;
    border-radius: 20px;
    color: $accent-color;
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: 40px;
    padding: 0;
    font-size: 18px;
    &:hover,&:focus {
      background-image: linear-gradient(to top, $lighten-color 0%, $accent-color 100%);
      color: $white;
      border: none;
      line-height: 42px;
    }
    &:active {
      color: $white;
      border: none;
    }
  }
}

/* tabs */
.tabs {
  &__title {
    &--active {
      background-image: linear-gradient(to top, $accent-color 0%, $lighten-color 100%);
      box-shadow: 0 0 20px rgba(97, 167, 6, 0.2);
      color: $white!important;
      border: none!important;
      padding: 0 32px!important;
    }
  }
  &__panel {
    display: none;
    animation: fadeEffect 1s;
    &--active {
      display: block;
    }
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* label error for jq validate */
label.error {
  @include center(true,false);
  width: 100%;
  top: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: $error-color;
}
input.error, textarea.error {
  border-color: $error-color;
}

.container-fluid {
  width: 1560px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.slick-arrow-prev, .slick-arrow-next {
  @include center(false,true);
  margin: 0;
  width: 23px;
  height: 42px;
  cursor: pointer;
  &:before,&:after {
    content: '';
    display: block;
    position: absolute;
    transition: background-color 220ms;
    height: 2px;
    width: 20px;
    background-color: $black;
  }
  &:before {
    top: 31%;
  }
  &:after {
    bottom: 32%;
  }
  &:hover,&:focus {
    &:before,&:after {
      background-color: $accent-color;
    }
  }
  &:active {
    &:before,&:after {
      background-color: $darken-color;
    }
  }
}

.slick-arrow-prev {
  left: 50px;
  &:before,&:after {
    left: 0;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.slick-arrow-next {
  right: 50px;
  &:before,&:after {
    right: 0;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.grid-container {
  display: grid;
}


/* js animation "pulse" for buttons */
.pulse {
  transform: scale(0);
  //background-color: $pulse_color;
  border-radius: 50%;
  animation: pulse 700ms ease-out;
  position: absolute;
}

@keyframes pulse {
  to {
    transform: scale(2);
    background-color: $white;
    opacity: 0;
  }
}
