    $s-check: 0px 61px 0px -61px 24px 23px 121px 100px 'sprite.png';
    $s-cont-1: 24px 61px -24px -61px 20px 20px 121px 100px 'sprite.png';
    $s-cont-2: 44px 61px -44px -61px 20px 20px 121px 100px 'sprite.png';
    $s-cont-3: 64px 61px -64px -61px 20px 20px 121px 100px 'sprite.png';
    $s-loc-ico: 0px 84px 0px -84px 10px 16px 121px 100px 'sprite.png';
    $s-mail-ico: 101px 61px -101px -61px 17px 11px 121px 100px 'sprite.png';
    $s-phone-ico: 84px 61px -84px -61px 17px 17px 121px 100px 'sprite.png';
    $s-search-ico: 0px 0px 0px 0px 61px 61px 121px 100px 'sprite.png';
    $s-top-scroll: 61px 0px -61px 0px 60px 60px 121px 100px 'sprite.png';
