.about {
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0 auto;
  }
  &__img {
    max-width: 620px;
    flex: 0 0 auto;
  }
  &__text {
    width: 100%;
    padding-left: 30px;
    h4 {
      margin: 0 0 10px 0;
    }
    p {

    }
  }
}

.our-advantages {
  padding: 60px 0;
  &__content {
    display: flex;
    justify-content: center;
  }
}

.our-advantages-item {
  padding: 0 15px;
  &__img {
    margin: 0 auto 15px;
    text-align: center;
  }
  &__wrap {
    width: 260px;
    height: 260px;
    border: 3px solid $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__content {

  }
  &__title {
    width: 100%;
    text-align: center;
    span {
      display: block;
      color: #000;
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.sertificate {
  padding: 60px 0 50px 0;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.sertificate-item {
  padding: 0 15px;
}

