.contacts {
  padding: 0 0 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0 auto;
  }
  &__desc {
    width: 100%;
  }
  &__title {
    color: #333;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    position: relative;
    padding-left: 30px;
    margin: 0;
    &:after {
      content: '';
      display: block;
      @include center(false,true);
      left: 0;
    }
    &--phone {
      &:after {
        @include sprite($s-cont-1);
      }
    }
    &--email {
      &:after {
        @include sprite($s-cont-3);
      }
    }
    &--address {
      margin-top: 25px;
      + ul {
        margin-bottom: 30px;
      }
      &:after {
        @include sprite($s-cont-2);
      }
    }
  }
  &__map {
    flex: 0 0 auto;
    width: 880px;
    height: 480px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.contacts-list {
  &__link, &__item {
    position: relative;
    color: #333;
    font-size: 18px;
    line-height: 27px;

  }
  &__link {
    transition: color 220ms;
    &:hover,&:focus {
      color: $accent-color;
    }
    &:active {
      color: $darken-color;
    }
  }
  &__item {
    padding-left: 30px;
  }
}
