.accordion {
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 50px;
  &__set {
    margin-bottom: 20px;
    &.is-open {
      .accordion__question {
        background-color: #333;
      }
      .accordion__title {
        color: #fff;
      }
      .accordion__icon {
        color: #fff;
      }
      .accordion__icon {
        &:before {
          content: none;
        }
      }
    }
  }
  &__title {
    display: block;
    line-height: 36px;
    font-weight: 700;
    color: $white;
    font-size: 18px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    flex: 0 0 auto;
    background: none;
    &:before,&:after {
      content: '';
      width: 14px;
      height: 2px;
      display: block;
      @include center;
      background-color: #fff;
    }
    &:before {
      transform: translate(-50%,-50%) rotate(90deg);
    }
  }
  &__content {
    background-color: #fff;
    padding: 20px 35px 10px 35px;
    display: none;
    p {
      color: $base-color;
      font-size: 18px;
      line-height: 27px;
      margin: 0;
      font-weight: 400;
    }
    &--active {
      display: block;
    }
  }
  &__question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: background-color 220ms;
    height: 50px;
    background-color: $accent-color;
    border-radius: 25px;
  }
  &__answer {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    transition: color 220ms;
  }
}
