.first-screen {
  height: 100vh;
  width: 100vw;
  position: relative;
  &__content {
    @include center;
  }
  &__title {
    text-shadow: 0 0 15px rgba(97, 167, 6, 0.15);
    font-weight: 400;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;
    color: $white;
    display: inline-block;
    text-align: center;
    margin: 0;
    &--color {
      color: $accent-color;
    }
  }
  &__advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
  }
}


.first-screen-item {
  width: 33.33%;
  &__wrap {

  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  &__content {
    span {
      color: $white;
      font-weight: 700;
      display: block;
      text-align: center;
      font-size: 18px;
    }
  }
}

.btn-scroll {
  @include center(true,false);
  bottom: 4vh;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent none;
  &__inner {
    display: block;
    @include center;
    @include sprite($s-top-scroll);
  }
}

.b-service {
  padding: 30px 0 0 0;
  &__grid {
    display: flex;
    justify-content: space-around;
  }
  &__btn {
    @extend .common-btn;
    margin: 0 auto;
  }
}

.service-item {
  margin-bottom: 30px;
  &__wrap {
    display: block;
    padding: 0 5px;
  }
}

.advantages {
  padding: 60px 0 0 0;
  &__grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-item {
  width: 33.3333%;
  margin-bottom: 60px;
  &__wrap {
    max-width: 340px;
    margin: 0 auto;
  }
  &__img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto 20px;
    min-height: 130px;
  }
  &__title {
    text-align: center;
    color: $black;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 5px 0;
  }
  &__desc {
    text-align: center;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
  }
}

.portfolio {
  padding: 50px 0;
  &--page {
    padding: 0 0 70px 0;
  }
  &__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__btn {
    @extend .common-btn;
    margin: 30px auto 0;
  }
  &__item {
    &--big {
      grid-column: auto / span 1;
      grid-row: auto / span 2;
    }
    &--small {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }
  }
}

.item-portfolio {
  &__img {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      @include sprite($s-search-ico);
      transform: translate(-50%,-50%) scale(0);
      transition: transform 300ms;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($accent-color, .75);
      transition: transform 200ms;
      transform: translate(-101%,0);
    }
    &:hover {
      &:after {
        transform: translate(-50%,-50%) scale(1);
      }
      &:before {
        transform: translate(0,0);
      }
    }
  }
  &__gallery {
    display: none;
  }
}

.portfolio-list {
  max-width: 895px;
  margin: 0 auto;
  &__title {
    color: $white;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    text-align: center;
  }
}
.slider-portfolio {
  width: 100%;
  position: relative;
  .slick-arrow-prev, .slick-arrow-next {
    &:after,&:before {
      background-color: $white;
    }
  }
  .slick-arrow-prev {
    left: 0;
  }
  .slick-arrow-next {
    right: 0;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 auto;
    }
  }
}

.modal-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  &__in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
  }
  &__wrap {
    position: relative;
    z-index: 9;
    max-width: 770px;
  }
  &__title {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 0;
  }
  &__container {
    width: auto;
    height: 100%;
  }
  &__close {
    position: absolute;
    top: -37px;
    right: -35px;
    width: 30px;
    height: 30px;
    z-index: 101;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    &:before,&:after {
      content: '';
      display: block;
      position: absolute;
      top: 14px;
      left: 7px;
      background-color: $white;
      width: 15px;
      height: 1px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    &:hover,&:focus {
      &:before,&:after {
        background-color: $accent-color;
      }
    }
    &:active {
      &:before,&:after {
        background-color: $darken-color;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
  }
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  &__pagination {
    width: 100%;
    max-width: 900px;
    position: absolute;
    background-color: #fff;
    z-index: 101;
  }
  &__count {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 55px;
    margin: 15px auto 0;
  }
  &__arrow {
    &--prev,&--next {
      @include center(false,true);
      margin: 0;
      width: 23px;
      height: 42px;
      cursor: pointer;
      background: none;
      &:before,&:after {
        content: '';
        display: block;
        position: absolute;
        transition: background-color 220ms;
        height: 2px;
        width: 20px;
        background-color: $white;
      }
      &:before {
        top: 31%;
      }
      &:after {
        bottom: 32%;
      }
      &:hover,&:focus {
        &:before,&:after {
          background-color: $accent-color;
        }
      }
      &:active {
        &:before,&:after {
          background-color: $darken-color;
        }
      }
    }
    &--prev {
      left: 0;
      &:before,&:after {
        left: 0;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
    &--next {
      right: 0;
      &:before,&:after {
        right: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.scheme {
  padding: 40px 0 50px;
  background-color: #f0f0f0;
  border-bottom: 2px solid $accent-color;
  &__content {
    display: flex;
    align-items: flex-start;
  }
}

.scheme-item {
  width: 33.3333%;
  &__wrap {
    margin: 0 auto;
  }
  &__img {
    position: relative;
    margin: 0 auto;
    width: 128px;
    height: 128px;
  }
  &__count {
    position: absolute;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-color: $accent-color;
    color: $white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0,-50%);
    left: -31px;
  }
  &__text {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: block;
    margin: 10px 0;
  }
  &__btn {
    @extend .common-btn;
    margin: 0 auto;
    width: 210px;
    height: 40px;
    line-height: 40px;
  }
}

.clients {
  padding: 40px 0 60px 0;
  &__desc {
    max-width: 1270px;
    margin: 0 auto;
  }
  &__title {
    color: #000;
    font-weight: 700;
    margin: 0 0 70px 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
  }
  &__slider {
    padding: 20px 0 0 0;
  }
}

.slider-clients {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  &__link {
    display: block;
    border: 1px solid $accent-color;
    transition: border-color 220ms;
    &:hover,&:focus {
      border-color: transparent;
    }
  }
  &__content {
    margin: 0 auto;
    max-width: 1270px;
    width: 100%;
  }
  &__item {
    outline: none;
    padding: 0 30px;
    img {
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-arrow-prev {
    left: 30px;
  }
  .slick-arrow-next {
    right: 30px;
  }
}

.c-cb {
  padding: 50px 0;
  &__title {
    @extend .common-title;
    text-align: center;
    margin-bottom: 0;
  }
  &__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

.cb-form {
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
  }
  &__field {
    position: relative;
    width: 100%;
    max-width: 360px;
    &--sbmt {
      width: 230px;
      flex: 0 0 auto;
    }
  }
  &__input {
    @extend .common-input;
    width: 100%;
    height: 50px;
  }
  &__submit {
    @extend .common-btn;
    width: 100%;
    flex: 0 0 auto;
  }
}
