.news {
  padding: 0 0 25px 0;
}

.news-item {
  margin-bottom: 35px;
  &__wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  &__data {
    position: absolute;
    top: 30px;
    right: 0;
    color: $white;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    width: 120px;
    height: 30px;
    background-color: $accent-color;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  &__img {
    position: relative;
    width: 490px;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      @include sprite($s-search-ico);
      transform: translate(-50%,-50%) scale(0);
      transition: transform 300ms;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($accent-color, .75);
      transition: transform 200ms;
      transform: translate(-101%,0);
    }
    &:hover {
      &:after {
        transform: translate(-50%,-50%) scale(1);
      }
      &:before {
        transform: translate(0,0);
      }
    }
  }
  &__content {
    padding-left: 30px;
  }
  &__desc {
    color: #000;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 0;
  }
  &__title {
    margin: 0 0 5px 0;
    color: #000;
    font-weight: 700;
    line-height: 27px;
    transition: color 220ms;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    &:hover,&:focus {
      color: $accent-color;
    }
    &:active {
      color: $darken-color;
    }
  }
  &__btn {
    @extend .common-link;
    margin-top: 15px;
  }
}
