.banner {
  padding: 190px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .common-title {
    margin: 0;
  }
  .common-subtitle {
    max-width: 750px;
    margin: 0 auto;
  }
  &__data {
    width: 120px;
    height: 30px;
    background-color: $accent-color;
    border-radius: 15px;
    color: $white;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 20px auto 0;
    display: block;
  }
}

.c-service {
  padding: 60px 0 50px 0;
  &__content {
    max-width: 1270px;
    margin: 0 auto;
    img {
      float: left;
      margin: 0 20px 20px 0;
      &:last-child {
        margin: 0 0 20px 0;
      }
    }
    h4 {
      margin: 0 0 10px 0;
    }
  }
  &__img {

  }
}

// pagination
// ==================================================
.pagination {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrap {
    margin: 40px auto 15px;
  }

  &__page-numbers {
    color: $accent-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-decoration: none;
    border: none;
    margin: 0 20px;
    transition: border-color 220ms, backgrodund-color 220ms, color 220ms;

    &:hover,&:focus {
      color: $lighten-color;
    }

    &:active {
      color: $darken-color;
    }

    &:last-child {
      margin-right: 0;
    }

    &--to-start, &--to-end {
      position: relative;
    }

    &--to-start {
      margin-left: 0;

      &:before {
        display: inline-block;
        content: '\f104';
        font-family: FontAwesome, sans-serif;
        margin-right: 10px;
        font-size: 18px;
        line-height: 29px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        display: block;
        width: 2px;
        height: 28px;
        background-color: $accent-color;
      }

    }

    &--to-end {
      margin-right: 0;

      &:after {
        display: inline-block;
        content: '\f105';
        font-family: FontAwesome, sans-serif;
        margin-left: 10px;
        font-size: 18px;
        line-height: 29px;
      }

    }

  }

}

