.services-item {
  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__title {
    width: auto;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    color: $accent-color;
    font-size: 16px;
    background-color: $white;
    font-weight: 700;
    border: 2px solid $accent-color;
    border-radius: 30px;
    &:hover,&:focus {
      background-image: linear-gradient(to top, $accent-color 0%, $lighten-color 100%);
      box-shadow: 0 0 20px rgba(97, 167, 6, 0.2);
      color: $white;
      border: none;
      padding: 0 32px;
    }
    &:active {
      background: $accent-color none;
      color: $white;
      box-shadow: none;
    }
  }
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0 0 35px 0;
  &__item {
    margin-bottom: 35px;
    width: 25%;
    padding: 0 15px;
  }
  &__img {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      @include sprite($s-search-ico);
      transform: translate(-50%,-50%) scale(0);
      transition: transform 300ms;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($accent-color, .75);
      transition: transform 200ms;
      transform: translate(-101%,0);
    }
    &:hover {
      &:after {
        transform: translate(-50%,-50%) scale(1);
      }
      &:before {
        transform: translate(0,0);
      }
    }
  }
  &__title {
    color: $black;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 10px 0;
    display: block;
    transition: color 220ms;
    &:hover,&:focus {
      color: $accent-color;
    }
    &:active {
      color: $darken-color;
    }
  }
  &__desc {
    color: $black;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
}
